@import "../../styles/variables";

.Header {
  background-color: $dark-color;
  border-bottom: 1px solid $primary-color;
  margin-bottom: 25px;
  position: sticky;
  top: 0;
  .HeaderContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      > li {
        display: inline-block;
        margin-left: 10px;
        > a {
          color: $text-color;
        }
      }
    }
  }
}
